#foot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
}
#autoWoot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 414px;
}
#Intro {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 16pt;
  font-family: Lucida console;
  text-align: center;
}
.main {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 12pt;
  font-family: Lucida console;
  text-align: left;
}
#copysong {
  cursor: pointer;
  position: absolute;
  border:2px;
  border-radius:5px;
}
#Stat {
  cursor: pointer;
  background-color: black; 
  position: relative;
  top: 54px;  
  opacity: .7;
  border: 1px solid black;
  font-family: Lucida console;
  width:10em;
  border-radius:5px;
  padding: 5px 5px 5px 5px;
  z-index: 10;
}
#Interface{
  background-color: #050C17;
  z-index: 10;
}
#InterfaceToggle{
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
  z-index: 11;
}