#foot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
}
#autoWoot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 414px;
}
#Intro {
  border: 0px solid #D3D3D3;
  font-size: 16pt;
  font-family: Lucida console;
  text-align: center;
}
.main {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 12pt;
  font-family: Lucida console;
  text-align: left;
}
#copysong {
  cursor: pointer;
  position: absolute;
  border:2px;
  border-radius:5px;
}
#Stat {
  cursor: pointer;
  background-color: black; 
  position: relative;
  top: 54px;  
  opacity: .7;
  border: 1px solid black;
  font-family: Lucida console;
  width:10em;
  border-radius:5px;
  padding: 5px 5px 5px 5px;
  z-index: 10;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
