#foot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
}
#autoWoot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 414px;
}
#Intro {
  border: 0px solid #D3D3D3;
  font-size: 16pt;
  font-family: Lucida console;
  text-align: center;
}
.main {
  color: #00cbf6;
  border: 0px solid #D3D3D3;
  font-size: 12pt;
  font-family: Lucida console;
  text-align: left;
}
#copysong {
  cursor: pointer;
  position: absolute;
  border:2px;
  border-radius:5px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#copysong:hover{
  opacity: 1;
}
#Stat {
  cursor: pointer;
  background-color: black; 
  position: relative;
  top: 54px;  
  opacity: .7;
  border: 1px solid black;
  font-family: Lucida console;
  width:10em;
  border-radius:5px;
  padding: 5px 5px 5px 5px;
  z-index: 10;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#chitoge {
  position: relative;
  right: -205px;
  z-index: 100;
}
#ond {
  position: relative;
  right: 40px;
  z-index: 100;
}
.party {
  right: random(300) + px;
  bottom: random(300) + px;
  position: relative;
  z-index: 100;
}
.ChatMenu{
  height:100%;
  width:99%;
  position:absolute;
  border:1px solid white;
  background-color:#050C17;
  z-index: 99;
  opacity: .95;
  text-align: center;
}
#InterfaceToggle{
  height: 40px;
  width: 40px;
  border:2px;
  border-radius:5px;
  cursor: pointer;
  position: absolute;
  z-index: 90;
  right:483px;
  bottom:8px;
}
.IFFunction{
  background-color:#1C1F25;
  padding: 5px;
  z-index: 111;
  cursor: pointer;
  margin: 0px 3px 3px 3px;
  box-shadow: 0px 5px 5px black;
  border-radius: 5px;
  opacity: 1;
}
.IFFunction:hover {
  opacity: .9;
}
.NSUpdate{
  right: -43px;
  bottom: -5px;
}
.CCB {
  margin: 6px;
  position: relative;
  font-family: Lucida Console;
  border: 1px solid white;
  cursor: pointer;
  z-index: 100;
  text-align: center;
  font-size: 10px;
  display: inline;
}
#InterfaceCCB{
  height:100%;
  width:99%;
  position:absolute;
  border:1px solid white;
  background-color:#050C17;
  z-index: 99;
  opacity: .3;
}
#InterfaceCCB:hover{
  opacity: .95;
}
#SecondChat{
  height:91%;
  width:99%;
  position:relative;
  border:1px solid white;
  background-color:#050C17;
  z-index: 98;
  opacity: .97;
  bottom: -46px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#SecondChatToggle{
  cursor: pointer;
}
#IFM{
  border: 3px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 5px solid white;
}
#vote{
  width: 800px; 
}
#ChatLog{
  left: 343px;
  text-align: left;
  padding: 7px;
  padding-top: 5px;
  overflow: scroll;
  height: 98%;
  width:97%;
}