#foot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
}
#autoWoot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 414px;
}
#Intro {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 16pt;
  font-family: Lucida console;
  text-align: center;
}
.main {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 12pt;
  font-family: Lucida console;
  text-align: left;
}
#copysong {
  top: 61px;
  left: 85px;
  cursor: pointer;
  position: absolute;
}
#vote {
  top: 666px;
  width: 254px;
}