#foot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 345px;
}
#autoWoot {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 54px;
  right: 414px;
}
#Intro {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 16pt;
  font-family: Lucida console;
  text-align: center;
}
.main {
  color: #FF6600;
  border: 0px solid #D3D3D3;
  font-size: 12pt;
  font-family: Lucida console;
  text-align: left;
}
#copysong {
  cursor: pointer;
  position: absolute;
  border:2px;
  border-radius:5px;
}
#Stat {
  height: 115px;
  width: 125px; 
  background-color: black; 
  position: absolute;
  top: 54px;  
  opacity: .7;
  border: 1px solid black;
  font-family: Lucida console;
}
